.odd{
    background-color: rgb(250, 127, 147);
    font-family: "Verdana", "DejaVu Sans", "sans-serif";
}

.odd4{  
    font-size: 24px
}

#ID-class{
    color: blue;
    font-size: 36px;
}

#class4{
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}
